{%- import "_macros/utils.twig" as utils -%}
{%- import "_macros/ui.twig" as ui -%}

{# Set color classes from block settings #}
{%- set backgroundColour = block.backgroundColour.color[0].background -%}
{%- set headingColour = block.headingColour.color[0].heading -%}
{%- set textColour = block.textColour.color[0].text -%}

{# Get solicitor profile data #}
{%- set solicitorEntry = block.teamMember.one() -%}

<section class="solicitor-profile content-block
  {{ headingColour }}
  {{ textColour }}
  {{ backgroundColour }}
  "
  {{ utils.debugAttributes(entry, block.type, 'Solicitor Profile') }}
  >
  <div class="content-block-inner container-medium">
    {% if solicitorEntry %}
      <div class="solicitor-profile-wrapper">
        
        {# Profile Image #}
        <div class="profile-image-wrapper">
          {% if solicitorEntry.headshot.one() %}
            {{ ui.component('image', {
              img: solicitorEntry.headshot.one(),
              class: 'profile-image',
              sizes: '(max-width: 767px) 200px, 300px',
              formats: ['webp'],
              alt: solicitorEntry.firstName ~ ' ' ~ solicitorEntry.lastName ~ ' profile photo',
              lazy: true,
              responsive: {
                sm: { mode: 'crop', width: 200, height: 200, quality: 90, position: 'center-center' },
                md: { mode: 'crop', width: 300, height: 300, quality: 90, position: 'center-center' },
              }
            }) }}
          {% endif %}
        </div>

        {# Profile Content #}
        <div class="profile-content">
          
          {# Name and Title #}
          <div class="profile-header">
            {% if solicitorEntry.firstName or solicitorEntry.lastName %}
              <h2 class="solicitor-name">
                {{ solicitorEntry.firstName }} {{ solicitorEntry.lastName }}
              </h2>
            {% endif %}
            
            {% if solicitorEntry.jobTitle %}
              <p class="solicitor-title">{{ solicitorEntry.jobTitle }}</p>
            {% endif %}
          </div>

          {# Bio Content #}
          {% if solicitorEntry.bio %}
            <div class="solicitor-bio">
              {{ ui.component('rich-text', { 
                content: solicitorEntry.bio 
              }) }}
            </div>
          {% endif %}

          {# Contact Information #}
          <div class="contact-info">
            {% if solicitorEntry.telephone %}
              <div class="contact-item contact-phone">
                <div class="contact-icon-wrapper">
                  {{ svg('@webroot/assets/icons/system/telephone.svg') | attr({ class: 'contact-icon' }) }}
                </div>
                <a href="tel:{{ solicitorEntry.telephone }}" class="contact-link">
                  {{ solicitorEntry.telephone }}
                </a>
              </div>
            {% endif %}

            {% if solicitorEntry.email %}
              <div class="contact-item contact-email">
                <div class="contact-icon-wrapper">
                  {{ svg('@webroot/assets/icons/system/envelope.svg') | attr({ class: 'contact-icon' }) }}
                </div>
                <a href="mailto:{{ solicitorEntry.email }}" class="contact-link">
                  {{ solicitorEntry.email }}
                </a>
              </div>
            {% endif %}

            {% if solicitorEntry.linkedIn %}
              <div class="contact-item contact-linkedin">
                <div class="contact-icon-wrapper">
                  {{ svg('@webroot/assets/icons/social-networks/linkedin.svg') | attr({ class: 'contact-icon' }) }}
                </div>
                {% if solicitorEntry.linkedIn starts with 'http' %}
                  <a href="{{ solicitorEntry.linkedIn }}" class="contact-link" target="_blank" rel="noopener">
                    {{ solicitorEntry.linkedIn|replace({'https://www.linkedin.com/in/': '#', 'https://linkedin.com/in/': '#'}) }}
                  </a>
                {% else %}
                  <span class="contact-link">
                    #{{ solicitorEntry.linkedIn }}
                  </span>
                {% endif %}
              </div>
            {% endif %}
          </div>

        </div> {# .profile-content #}
      </div> {# .solicitor-profile-wrapper #}
    {% endif %}
  </div> {# .content-block-inner #}
</section>