{% import "_macros/utils.twig" as utils %}

{% set backgroundColour = globalContent.globalTrustLinksBackgroundColour.color[0].background %}
{% set headingColour = globalContent.globalTrustLinksHeadingColour.color[0].heading %}
{% set textColour = globalContent.globalTrustLinksTextColour.color[0].text %}

<section class="trust-links content-block
  {{ headingColour }}
  {{ textColour }}
  {{ backgroundColour }}
  "
  {{ utils.debugAttributes(entry, 'trustLinks', 'Trust Links') }}
  {{ utils.inPageLink(block.id ?? '#') }}
  >
  <div class="content-block-inner container-narrow trust-links-content-block-inner">
    <div class="trust-links-row">
      {% for trustLink in globalContent.trustLinks.all() %}
        {% set imageTransform = {
          mode: 'fit',
          width: 500,
          height: 400,
          quality: 90,
          position: 'center-center',
          format: 'webp'
        } %}
        {% set logo = trustLink.logo.one() %}

        {% set link = trustLink.theUrl ?? '' %}
          {% if link | length %}
          <a href="{{ link }}" target="_blank" rel="noopener noreferrer">
          {% endif %}
            <img
              class="trust-links-logo"
              style="
                --width:{{ logo.width }};
                --height:{{ logo.height }};
              "
              {% if 'svg' in trustLink.logo.one().filename %}
                src="{{ logo.url }}"
              {% else %}
                src="{{ logo.url(imageTransform) }}"
              {% endif %}
              alt="{{ logo.alt ?? logo.title }}"
              loading="lazy"
              decoding="async">
          {% if link | length %}
          </a>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
